:root {
  --font-color: #e7e7e7;
  --background: #010101;
  --background-hover: #090909;
  --foreground: #1a1a1a;
  --foreground-hover: #222222;

  --highlight: #ff3d03;
  --highlight-hover: #ff1403;
  --highlight-accent: #441b15;
  --highlight-accent-hover: #582118;

  --warning: #e24a4a;
  --warning-hover: #e13525;
}

[data-theme="light"] {
  --font-color: #141414;
  
  --background: #fcebe8;
  --background-hover: #f0e1de;

  --foreground: #e0d1c9;
  --foreground-hover: #d1c4bd;

  --highlight: #ff3d03;
  --highlight-hover: #ff1403;
  --highlight-accent: #b1230d;
  --highlight-accent-hover: #9c1b07;
}

[data-theme="dark"] {
  --font-color: #e7e7e7;

  --background: #010101;
  --background-hover: #090909;

  --foreground: #1a1a1a;
  --foreground-hover: #222222;

  --highlight: #ff3d03;
  --highlight-hover: #ff5c2b;
  --highlight-accent: #441b15;
  --highlight-accent-hover: #582118;
}