:root {
  --font-color: #e7e7e7;
  --background: #010101;
  --background-hover: #090909;
  --foreground: #1a1a1a;
  --foreground-hover: #222222;

  --highlight: #ff3d03;
  --highlight-hover: #ff1403;
  --highlight-accent: #441b15;
  --highlight-accent-hover: #582118;

  --warning: #e24a4a;
  --warning-hover: #e13525;
}

[data-theme="light"] {
  --font-color: #141414;
  --background: #fcebe8;
  --background-hover: #e9d3cf;
  --foreground: #e4d4cc;
  --foreground-hover: #ceb8ad;

  --highlight: #ff3d03;
  --highlight-hover: #ff1403;
  --highlight-accent: #441b15;
  --highlight-accent-hover: #582118;
}

[data-theme="dark"] {
  --font-color: #e7e7e7;
  --background: #010101;
  --background-hover: #090909;
  --foreground: #1a1a1a;
  --foreground-hover: #222222;

  --highlight: #ff3d03;
  --highlight-hover: #ff1403;
  --highlight-accent: #441b15;
  --highlight-accent-hover: #582118;
}